<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/Module/etc/menu.xsd">
    <menu>
        <!-- Crear una opción en el menú principal -->
        <add id="Hiberus_Munoz::menu_principal"
             title="Gestión de Alumnos"
             module="Hiberus_Munoz"
             sortOrder="10"
             resource="Hiberus_Munoz::students"/>

        <!-- Agregar el submenú para listar alumnos -->
        <add id="Hiberus_Munoz::students"
             title="Listado de Alumnos"
             module="Hiberus_Munoz"
             sortOrder="20"
             parent="Hiberus_Munoz::menu_principal"
             action="hiberus_munoz/student/index"
             resource="Hiberus_Munoz::students"/>
    </menu>
</config>
