<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/system_file.xsd">
    <system>
        <section id="hiberus_munoz_students" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Hiberus_Munoz_Students</label>
            <tab>general</tab>
            <resource>Magento_Config::config_general</resource>
            <group id="settings" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuración de Calificaciones</label>
                <field id="enable_update" translate="label comment"
                       type="select" sortOrder="2" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Activar Modificación de Calificaciones</label>
                    <comment>Si está activado, los alumnos con menos de 5.0 tendrán un 4.9</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
