<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/Module/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <!-- <resource id="Hiberus_Munoz::home" title="Gestión de Alumnos" sortOrder="10"/> -->
                <resource id="Hiberus_Munoz::alumnos_exam"   title="alumnos" translate="title" sortOrder="15" />
            </resource>

        </resources>
    </acl>
</config>
